In [2]:
num = 100
print(num)
print("Data type of variable num is",type(num))

fnum = 34.45
print(fnum)
print("Data Type of variable fnum is", type(fnum))

cnum = 3 + 4j
print(cnum)
print("Data Type of variable cnum is", type(cnum))

100
Data type of variable num is <class 'int'>
34.45
Data Type of variable fnum is <class 'float'>
(3+4j)
Data Type of variable cnum is <class 'complex'>

In [3]:
str1 ="Hi my name is Matthew. I am String"
str2 = 'Hi my name is Precious. Iam also a String'

print(str1)
print(type(str1))

print(str2)
print(type(str2))

Hi my name is Matthew. I am String
<class 'str'>
Hi my name is Precious. Iam also a String
<class 'str'>

In [6]:
#tuple of integers
t1 = (1,2,3,4,5)

#prints entire tuple
print(t1)

# tuple of strings
t2 = ("Nifemi","Gina", "Marho")

# loop through tuple elements
for s in t2:
    print(s)
    
# tuple of mixed type elements
t3 = (2,"Ebube",45, "Jeffrey")

'''
Print a specific element
indexes start with zero
'''
print(t3[2])

(1, 2, 3, 4, 5)
Nifemi
Gina
Marho
45

In [8]:
# list of integers
lis1 =[1,2,3,4,5]

#prints entire list
print(lis1)

#list of strings
lis2 = ["Mouse","Keyboard","Monitor"]

#loop through list elements
for x in lis2:
    print(x)
    
 #list of mixed type elements
lis3 = [20,"CSC101", 15, "Python Programming"]

'''Print a specific element in list indexes start with zero'''

print("Element at index 3 is:",lis3[3])

[1, 2, 3, 4, 5]
Mouse
Keyboard
Monitor
Element at index 3 is: Python Programming

In [11]:
# Dictionary example
dict = {1:"Maryam","lastname":"Shefiu","age":25}

#prints the value where key nvalue is 1
print(dict[1])

#prints the value where key value is  "last name"
print(dict["lastname"])

#prints the value where key value is "age"
print(dict["age"])

Maryam
Shefiu
25

In [14]:
# Set Example
myset = {"Joseph","Adaobi","Kamara","Ugochi"}

# loop through the set
for a in myset:
    print(a)
    
# checking whether 2 exists in myset
    print(2 in myset)
    
 #adding new element
myset.add(99)
print(myset)

Adaobi
False
Kamara
False
Joseph
False
Ugochi
False
{99, 'Joseph', 'Ugochi', 'Adaobi', 'Kamara'}